.container{
    background-color:bisque;
    max-width: 100%;
    margin-top: 20px;
    padding:40px;
    border: 1px solid;
    border-radius:20px;

    img{

    }

    h2{

    }
}
.container-content{



}
.form{
    float:center;
}
.button{
    display:block;
    margin-top:20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 50%;
    padding: 0 4px;
    .right{
        float:right;
    }
  }
  
  .column img {
    margin-top: 8px;
    max-width:200px;
    vertical-align: middle;
  }